/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*Too long description becomes shorter with ellipsis*/
.clip {
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis; 
}

.content {
    width: 1150px;
    height: 600px;
    margin-top: 35px;
    margin-bottom: 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 5px #E5E5E5;
    border-radius: 50px;
}


.circle {
    position:sticky;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border-radius:50px;
}

.circle-icon {
    fill: currentColor;
    height: 50%;
    top: 150px;
    left: 54%;
    position: absolute;
    stroke: currentColor;
    stroke-width: 0;
    transform: translate(-50%, -50%);
    width: 50%;
}

.circle:hover {
    background: #E5E5E5;
}

.image {
    width: 50%;
    height: 600px;
    background: #E5E5E5;
    border-radius: 50px 0px 0px 50px;
}


.searchBoxContainer {
    width: 485px;
    height: 42px;
    background: #fff;
    border-radius: 25px;
    cursor: text;
    padding-left:14px;
    padding-bottom:3px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.logo {
    width:40px;
    height:40px;
    margin-right: 20px;
    border-radius: 50%;
}

.logo:hover{
    background:#fff;
}


html {
  position: relative;
  min-height: 100%;
}

body {
    background: #fff;
    background-size: cover;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.ZoomIn {
    cursor: zoom-in;
}